body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000;
}

canvas {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1; /* Digital rain on top */
}

.watermark {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30vw;
    height: 30vw;
    z-index: 0; /* Watermark in the background */
    opacity: 0.1;
}

/* Style the SVG from the external file */
.watermark {
    fill: #0F0;
    stroke: #0F0;
}
